extends /layouts/standard_layout.jade

block well
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      h1 !{story.title}
      h4 By #{story.author.name}
      img.story_image(style="float:right" width="300" height="250" border="0" align="left" class="" src="#{story.feature_image}" alt="#{story.title}")
      !{story.content}

block rightrail
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/social/connect_with_us.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/oa/mortgage_oa.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/ads/flex_top.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/ads/300x100_top.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/lists/most_read.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/lists/advisers.jade