extends /layouts/standard_layout.jade

block head
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js')

block well
  .ratetable-gearbox
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        form.form.row
          .form-group.col-sm-4.col-md-4.col-lg-4
            label(for='prods') Loan Purpose
            select#products.form-control(name='prods')
              option(value='1') 30 yr fixed
              option(value='2') 15 yr fixed
              option(value='5') 30 year FHA
              option(value='6') 5/1 ARM
              option(value='9') 7/1 ARM
              option(value='388') 10 year fixed
              option(value='387') 20 year fixed
              option(value='449') 30 year VA mortgage loan
          .form-group.col-sm-4.col-md-4.col-lg-4
            label(for='loan') Loan Amount
            input#loan.form-control(type='text', name='loan')
          .form-group.col-sm-4.col-md-4.col-lg-4
            label(for='perc') Down Payment
            select#perc.form-control(name='perc')
              option(value='5') 5% down
              option(value='10') 10% down
              option(value='15') 15% down
              option(value='20', selected='') 20% down
              option(value='25') 25% down
              option(value='30') 30% down
              option(value='40') 40% down
          .form-group.col-sm-4.col-md-4.col-lg-4
            label(for='points') Points
            select#points.form-control(name='points')
              option(value='Zero', selected='') 0 pts
              option(value='ZeroToOne') 0.1 - 1.0 pts
              option(value='OneToTwo') 1.01 - 2.0 pts
              option(value='All') All points
          .form-group.col-sm-4.col-md-4.col-lg-4
            label(for='fico') Credit Score
            select#fico.form-control(name='fico')
              option(value='670') Credit score 660 - 679
              option(value='690') Credit score 680 - 699
              option(value='710') Credit score 700 - 719
              option(value='730') Credit score 720 - 739
              option(value='740', selected='') Credit score 740+
          .form-group.col-sm-4.col-md-4.col-lg-4
            label(for='')  
            button#update-table.btn.btn-default.update-table(type='submit') Update Results
  #content
  #loading.row.ratetable-loading
    img(src='/assets/images/loading.gif')
  script(type='text/babel', src='/assets/scripts/react/ratetables/ratetable-mortgage.js')
  

block rightrail
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/social/connect_with_us.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/oa/mortgage_oa.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/ads/flex_top.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/ads/300x100_top.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/lists/most_read.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/lists/advisers.jade