.br-module.br-sponsor
  .br-module-title BEST STATES TO RETIRE 
  a.br-story-title(href='/finance/retirement/how-bankrate-ranked-states-for-retirees.aspx') Ranking the states for retirement
  p
    | Statistics, surveys, in-depth analysis: Here's how we made our 2016 ranking better.