doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    link(rel='stylesheet', href='/assets/stylesheets/bankrate.css')
    link(rel='stylesheet', href='/assets/fonts/stackicons/css/stackicons-min.css')
    script(src='/assets/scripts/vendor/modernizr-2.8.3.min.js')
    // GPT
    script(type='text/javascript').
      (function() {
      var useSSL = 'https:' == document.location.protocol;
      var src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
      document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
      })();
    // Config
    script(src='/assets/scripts/EnvConfig.js')
    // polyfills
    script(src='/assets/scripts/vendor/html5-dataset.js')
    script(src='/assets/scripts/vendor/polyfill-event.js')
    script(src='/assets/scripts/vendor/polyfill-customevent.js')
    script(src='/assets/scripts/vendor/polyfill-settimeout.js')
    // support libs
    script(src='/assets/scripts/vendor/hashids.js')
    script(src='/assets/scripts/vendor/platform.js')
    // bankrate scripts
    script(src='/assets/scripts/meta.js')
    script(src='/assets/scripts/vendor/s_code_brm.js')
    script(src='/assets/scripts/omniture.js')
    script(src='/assets/scripts/datacollector.js')

    block head
  body
    //if lt IE 8
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    include /partials/headers/standard_header.jade
    .container
      .row
        .col-sm-12.col-md-12.col-lg-12
          include /partials/ads/leaderboard_top.jade
      .row
        .col-sm-8.col-md-8.col-lg-8.br-well
          block well
        .col-sm-4.col-md-4.col-lg-4.br-right-rail
          block rightrail
      .row
        .col-sm-12.col-md-12.col-lg-12
          include /partials/ads/leaderboard_bottom.jade
    include /partials/footers/standard_footer.jade
    // /.container
    script(src='https://code.jquery.com/jquery-1.12.0.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\\/script>')
    script(src='/assets/scripts/bootstrap.js')
    script(src='/assets/scripts/adgpt.js')
    script(src='/assets/scripts/plugins.js')
    script(src='/assets/scripts/main.js')
    block foot
