header
  .container
    .row.top-nav
      .col-md-8
        .row
          .col-md-3
            a.brlogo(href='/')
              img(src='/assets/images/logo.png', alt='Bankrate.com', width='176', height='42', border='0')
          .col-md-9
            ul.nav.nav-pills.top-nav-container
              li(role='presentation')
                a.top-nav-links(href='#')
                  span.glyphicon.glyphicon-home(aria-hidden='true')
                  |  Home
              li(role='presentation')
                a.top-nav-links(href='#')
                  span.glyphicon.glyphicon-signal(aria-hidden='true')
                  |  Rates
              li(role='presentation')
                a.top-nav-links(href='#')
                  span.glyphicon.glyphicon-tasks(aria-hidden='true')
                  |  Calculator
              li(role='presentation')
                a.top-nav-links(href='#')
                  span.glyphicon.glyphicon-user(aria-hidden='true')
                  |  My bankrate
      .col-md-4
        .input-group
          input.form-control(type='text', placeholder='Search for...')
          span.input-group-btn
            button.btn.btn-default(type='button')
              span.glyphicon.glyphicon-search
        // /input-group
    .row.main-nav
      .col-md-12
        ul.nav.main-nav-nav.nav-pills.nav-justified
          li.dropdown.active(data-menu-group='mortgages', aria-haspopup='true')
            a.dropdown-toggle.main-nav-nav-links(href='http://www.bankrate.com/mortgage.aspx?ic_id=home_mortgage_mortgages_globalnav', data-toggle='dropdown', aria-haspopup='true') Mortgages
            ul.dropdown-menu
              li.br-list-item
                a(href='http://www.bankrate.com/mortgage.aspx?ic_id=home_mortgage_mortgages_globalnav') Mortgage Rates
              li.br-list-item
                a(href='http://www.bankrate.com/funnel/mortgages/?ic_id=home_mortgage_mortgages_globalnav') Compare Mortgage Rates
              li.br-list-item
                a(href='http://www.bankrate.com/calculators/mortgages/mortgage-calculator.aspx?ic_id=home_mortgage_mortgages_globalnav') Mortgage Calculator
              li.br-list-item
                a(href='http://www.bankrate.com/mortgage/mortgage-lenders?ic_id=home_mortgage_mortgages_globalnav') Mortgage Lender Reviews
              li.br-list-item
                a(href='http://www.bankrate.com/home-equity.aspx?ic_id=home_mortgage_mortgages_globalnav') Home Equity
              li.br-list-item
                a(href='http://www.bankrate.com/refinance.aspx?ic_id=home_mortgage_mortgages_globalnav') Refinance Home
              li.br-list-item
                a(href='http://www.bankrate.com/funnel/mortgages/?prods=216&ic_id=home_mortgage_mortgages_globalnav') Refinance Rates
              li.br-list-item
                a(href='http://www.bankrate.com/calculators/index-of-mortgage-calculators.aspx?ic_id=home_mortgage_mortgages_globalnav') Calculators
          li.dropdown(data-menu-group='bank-rates', aria-haspopup='true')
            a.dropdown-toggle.main-nav-nav-links(data-toggle='dropdown', href='http://www.bankrate.com/banking.aspx?ic_id=home_mortgage_bank-rates_globalnav', aria-haspopup='true') Bank Rates
            ul.dropdown-menu
              li.br-list-item
                a(href='http://www.bankrate.com/cd.aspx?ic_id=home_mortgage_bank-rates_globalnav') CD Rates
              li.br-list-item
                a(href='http://www.bankrate.com/checking.aspx?ic_id=home_mortgage_bank-rates_globalnav') Checking & Savings
              li.br-list-item
                a(href='http://www.bankrate.com/funnel/savings/savings-results.aspx?ic_id=home_mortgage_bank-rates_globalnav') Money Market
              li.br-list-item
                a(href='/compare-rates.aspx#tab=3') Current Rates
              li.br-list-item
                a(href='http://www.bankrate.com/calculators/savings/simple-savings-calculator.aspx?ic_id=home_mortgage_bank-rates_globalnav') Savings Calculator
              li.br-list-item
                a(href='http://www.bankrate.com/rates/safe-sound/bank-ratings-search.aspx?ic_id=home_mortgage_bank-rates_globalnav') Bank Ratings
              li.br-list-item
                a(href='http://www.bankrate.com/calculators/index-of-checking-savings-calculators.aspx?ic_id=home_mortgage_bank-rates_globalnav') Calculators
          li.dropdown(data-menu-group='credit-cards', aria-haspopup='true')
            a.dropdown-toggle.main-nav-nav-links(data-toggle='dropdown', href='http://www.bankrate.com/credit-cards.aspx?ic_id=home_mortgage_credit-cards_globalnav', aria-haspopup='true') Credit Cards
            ul.dropdown-menu
              li.br-list-item
                a(href='http://www.bankrate.com/credit-cards.aspx?ic_id=home_mortgage_credit-cards_globalnav') Credit Cards Home
              li.br-list-item
                a(href='http://www.bankrate.com/credit-cards/low-interest-cards.aspx?ic_id=home_mortgage_credit-cards_globalnav') Low Interest Cards
              li.br-list-item
                a(href='http://www.bankrate.com/credit-cards/0-interest-apr-cards.aspx?ic_id=home_mortgage_credit-cards_globalnav') 0 Percent Cards
              li.br-list-item
                a(href='http://www.bankrate.com/credit-cards/balance-transfer-cards.aspx?ic_id=home_mortgage_credit-cards_globalnav') Balance Transfer Cards
              li.br-list-item
                a(href='http://www.bankrate.com/credit-cards/rewards-cards.aspx?ic_id=home_mortgage_credit-cards_globalnav') Reward Cards
              li.br-list-item
                a(href='http://www.bankrate.com/credit-cards/business-cards.aspx?ic_id=home_mortgage_credit-cards_globalnav') Business Cards
              li.br-list-item
                a(href='http://www.bankrate.com/credit-cards/cash-back-cards.aspx?ic_id=home_mortgage_credit-cards_globalnav') Cash Back Cards
              li.br-list-item
                a(href='http://www.bankrate.com/calculators/index-of-credit-card-calculators.aspx?ic_id=home_mortgage_credit-cards_globalnav') Calculators
              li.br-list-item
                a(href='http://www.bankrate.com/credit-cards/best-credit-cards?ic_id=home_mortgage_credit-cards_globalnav') Best Credit Cards
          li.dropdown(data-menu-group='personal-loan', aria-haspopup='true')
            a.dropdown-toggle.main-nav-nav-links(aria-haspopup='true', href='http://www.bankrate.com/funnel/personal-loans/?ic_id=home_mortgage_personal-loan_globalnav') Personal Loans
            ul.dropdown-menu
              li.br-list-item
                a(aria-haspopup='true', href='http://www.bankrate.com/funnel/personal-loans/?ic_id=home_mortgage_personal-loan_globalnav') Find a Personal Loan
              li.br-list-item
                a(aria-haspopup='true', href='http://www.bankrate.com/personal-loans.aspx?ic_id=home_mortgage_personal-loan_globalnav') Personal Loans Advice
          li.dropdown(data-menu-group='auto', aria-haspopup='true')
            a.dropdown-toggle.main-nav-nav-links(data-toggle='dropdown', href='http://www.bankrate.com/auto.aspx?ic_id=home_mortgage_auto_globalnav') Auto
            ul.dropdown-menu
              li.br-list-item
                a(href='http://www.bankrate.com/auto.aspx?ic_id=home_mortgage_auto_globalnav') Auto Home
              li.br-list-item
                a(href='http://www.bankrate.com/funnel/auto/?ic_id=home_mortgage_auto_globalnav') Auto Loans
              li.br-list-item
                a(href='http://www.bankrate.com/funnel/personal-loans/?ic_id=home_mortgage_auto_globalnav') Personal Loans
              li.br-list-item
                a(href='http://www.bankrate.com/calculators/auto/auto-loan-calculator.aspx?ic_id=home_mortgage_auto_globalnav') Auto Loan Calculator
              li.br-list-item
                a(href='http://www.bankrate.com/calculators/index-of-auto-calculators.aspx?ic_id=home_mortgage_auto_globalnav') Calculators
          li.dropdown(data-menu-group='taxes')
            a.dropdown-toggle.main-nav-nav-links(data-toggle='dropdown', href='http://www.bankrate.com/taxes.aspx?ic_id=home_mortgage_taxes_globalnav') Taxes
          li.dropdown(data-menu-group='retirement')
            a.dropdown-toggle.main-nav-nav-links(aria-haspopup='true', href='http://www.bankrate.com/retirement.aspx?ic_id=home_mortgage_retirement_globalnav') Retirement
            ul.dropdown-menu
              li.br-list-item
                a(href='http://www.bankrate.com/retirement.aspx?ic_id=home_mortgage_retirement_globalnav') Retirement Home
              li.br-list-item
                a(href='http://www.bankrate.com/senior-living.aspx?ic_id=home_mortgage_retirement_globalnav') Senior Living
              li.br-list-item
                a(href='http://www.bankrate.com/calculators/index-of-retirement-calculators.aspx?ic_id=home_mortgage_retirement_globalnav') Retirement Calculators
              li.br-list-item
                a(href='http://www.bankrate.com/investment.aspx?ic_id=home_mortgage_retirement_globalnav') Investments
              li.br-list-item
                a(href='http://www.bankrate.com/finance/investing/brokerage-accounts.aspx?ic_id=home_mortgage_retirement_globalnav') Brokerage Accounts
              li.br-list-item
                a(href='http://www.bankrate.com/cd.aspx?ic_id=home_mortgage_retirement_globalnav') CD Rates
              li.br-list-item
                a(href='http://www.bankrate.com/calculators/index-of-cds-investments-calculators.aspx?ic_id=home_mortgage_retirement_globalnav') Investment Calculators
          li.dropdown(data-menu-group='financial-planning', aria-haspopup='true')
            a.dropdown-toggle.main-nav-nav-links(data-toggle='dropdown', href='http://www.bankrate.com/debt-management.aspx?ic_id=home_mortgage_financial-planning_globalnav', aria-haspopup='true') Financial Planning
            ul.dropdown-menu
              li.br-list-item
                a(href='http://www.bankrate.com/identity-protection?ic_id=home_mortgage_financial-planning_globalnav') Identity Protection
              li.br-list-item
                a(href='http://www.bankrate.com/financial-literacy?ic_id=home_mortgage_financial-planning_globalnav') Financial Literacy
              li.br-list-item
                a(href='http://www.bankrate.com/funnel/personal-loans/?ic_id=home_mortgage_financial-planning_globalnav') Personal Loans
              li.br-list-item
                a(href='http://www.bankrate.com/debt-management.aspx?ic_id=home_mortgage_financial-planning_globalnav') Debt Management
              li.br-list-item
                a(href='http://www.bankrate.com/student-loans.aspx?ic_id=home_mortgage_financial-planning_globalnav') Student Loans
              li.br-list-item
                a(href='http://www.bankrate.com/taxes.aspx?ic_id=home_mortgage_financial-planning_globalnav') Taxes
              li.br-list-item
                a(href='http://www.bankrate.com/jean-chatzky/?ic_id=home_mortgage_financial-planning_globalnav') Tips from Jean Chatzky
              li.br-list-item
                a(href='http://www.bankrate.com/calculators.aspx?ic_id=home_mortgage_financial-planning_globalnav') Calculators
              li.bronly
                a(href='http://www.bankrate.com/funnel/certified-financial-planner/cfp.aspx?ic_id=home_mortgage_financial-planning_globalnav') Certified Financial Planner
              li.br-list-item
                a(href='http://www.bankrate.com/mobile-finance/?ic_id=home_mortgage_financial-planning_globalnav') Mobile Finance