footer
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        a(href='http://www.bankrate.com/coinfo/default.asp') About us
        a(href='http://www.bankrate.com/mediakit/') Advertise with Bankrate
        a(href='http://www.bankrate.com/coinfo/PartOpp.asp') Partners
        a(href='http://pr.bankrate.com/') Press Room
        a(href='http://phx.corporate-ir.net/phoenix.zhtml?c=61502&p=irol-irhome') Investor Relations
        a(href='http://www.bankrate.com/free-content/') Free Content Center
        a(href='http://www.bankrate.com/coinfo/webmasteremail.asp') Contact Us
        a(href='/corporate/site-map.aspx') Sitemap
        a(href='http://app.bankrate.com/prefcenter/signup.cfm?t=newsletter') Newsletters
        a(href='http://www.bankrate.com/careers/') Careers
        small
          a(href='http://www.bankrate.com/brm/publ/average.asp') Understanding Bankrate's rate averages
        em © 2016 Bankrate, Inc. All Rights Reserved.
        a(href='http://www.bankrate.com/coinfo/privacy.asp') Privacy Policy/Your California Privacy Rights
        a(href='http://www.bankrate.com/coinfo/terms-of-use.asp') Terms of Use
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .disclosure
          .truste
            a(href='//privacy.truste.com/privacy-seal/validation?rid=128c2861-b3a0-4216-8354-5240ac668385', title='TRUSTe Privacy Certification', target='_blank')
              img(style='border: none', src='//privacy-policy.truste.com/privacy-seal/seal?rid=0b7f4869-05e6-4404-b9ea-b399a0365a64', alt='TRUSTe Privacy Certification')
          p.small-text
            | Bankrate.com is an independent, advertising-supported publisher and comparison service. Bankrate may be compensated in exchange for featured placement of certain sponsored products and services, or your clicking on certain links posted on this website.