.br-module.br-connect.st-single-color-brand.st-shape-r4
  span Connect with us:
  a.st-icon-facebook-alt(title='Facebook') Facebook
  a.st-icon-twitter(title='Twitter') Twitter
  a.st-icon-googleplus(title='Google+') Google+
  a.st-icon-rss(title='RSS') RSS
  a.st-icon-email2(title='Email') Email