.br-module.br-top-story.br-bottom-divider
  .br-module-title Top stories 
  .row
    .col-sm-5.col-md-5.col-lg-5
      each val, index in stories
        a(class='car-img-'+(index+1) + "#{index !==0 ? ' hide' : ''}"  href='/story/'+val.slug) 
          img.story_image(width='300', height='250', border='0', align='left', src=val.feature_image alt=val.title)     
    .col-sm-7.col-md-7.col-lg-7
      each val, index in stories
        div(class="br-top-story-tab"+ "#{index ===0 ? ' active' : ''}" data-target='.car-img-#{(index+1)}')
          a.br-story-title(href='/story/'+val.slug) !{val.title}
          p
            | !{val.little_excerpt}...      