extends /layouts/standard_layout.jade

block well
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      h1 Welcome to Bankrate
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .br-module.br-compare-rates
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/topstories/homepage_topstories.jade
  .row
    .col-sm-6.col-md-6.col-lg-6.br-right-divider
      include /partials/lists/calculators_list.jade
    .col-sm-6.col-md-6.col-lg-6
      include /partials/lists/news_list.jade
  .row
    .col-sm-6.col-md-6.col-lg-6.br-right-divider
      include /partials/sponsors/sponsor_1.jade
    .col-sm-6.col-md-6.col-lg-6
      include /partials/sponsors/sponsor_2.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .br-module.br-trends.br-bottom-divider
        .br-module-title Interest Rate Trends & Analysis
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/lists/tools.jade

block rightrail
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/social/connect_with_us.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/oa/mortgage_oa.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/ads/flex_top.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/ads/300x100_top.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/lists/most_read.jade
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      include /partials/lists/advisers.jade