.br-module.br-oa
  .br-module-title-bar COMPARE RATES
  table.table.table-striped.br-oa-table
    thead
      tr
        th Product
        th Rate
        th Change
        th Last week
    tbody
      each val, index in oa.results
        tr
          td.oa-name
            a(href='/funnel/mortgage/?prods='+ val.prodhyperlink.match(/prods=([0-9]*)/)[1]) #{val.productdescription}
          td.oa-rate
            a(href="/funnel/mortgage/?prods="+ val.prodhyperlink.match(/prods=([0-9]*)/)[1]) #{val.ratevalue}
          td.oa-diff.oa-TrendDown.green
            a(href='/funnel/mortgage/?prods='+ val.prodhyperlink.match(/prods=([0-9]*)/)[1])
              span.br-icon.br-icon-DownArrow
              |  #{Math.ceil( (val.ratevalue - val.ratelastweek) * 100 )/ 100}
          td.oa-last-rate
            a(href='/funnel/mortgage/?prods='+ val.prodhyperlink.match(/prods=([0-9]*)/)[1]) #{val.ratelastweek }  
    tfoot
      tr
        td(colspan='4')
  .row
    form.form(role='form', action='/funnel/mortgages/mortgage-results.aspx', method='get', novalidate='novalidate')
      input(type='hidden', name='prods', value='216')
      input(type='hidden', name='ic_id', value='home_refinance_MortgageRatesAverages_Refinance_30YrFixedMtgRefi')
      .form-group
        label.col-sm-6.col-xs-6.control-label.br-oa-search-title(for='zip')
          | VIEW RATES IN YOUR AREA
        .col-sm-6.col-xs-6
          .input-group.input-group-sm
            input.form-control.number(type='text', name='zip', maxlength='5', required='required', placeholder='Enter ZIP code')
            span.input-group-btn
              button.btn.btn-primary(type='submit')
                | SEARCH