.br-module
  .br-module-title-bar BANKRATE FINANCIAL ADVISERS
  ul.br-list
    li.br-list-item
      a(href='/finance/auto/move-from-infant-to-convertible-car-seat.aspx') Switch to convertible car seat
    li.br-list-item
      a(href='/finance/real-estate/illegal-to-accept-offer-on-home-if-already-under-contract.aspx') Don't undercut your home's buyer
    li.br-list-item
      a(href='/finance/student-loans/best-way-pay-student-loans.aspx') How best to pay student loan?
    li.br-list-item
      a(href='/finance/taxes/reporting-sale-inherited-property.aspx') Report devalued property sale?
    li.br-list-item
      a(href='/finance/mortgages/reverse-mortgage-heloc-or-cash-out-mortgage.aspx') Reverse mortgage vs. other choices