.br-module
  .br-module-title Calculators 
  ul.br-list.br-list-dotted
    li.br-list-item
      a(href='/calculators/mortgages/mortgage-calculator.aspx') Mortgage calculator
    li.br-list-item
      a(href='/calculators/auto/auto-loan-calculator.aspx') Auto loan calculator
    li.br-list-item
      a(href='/calculators/mortgages/loan-calculator.aspx') Loan and amortization calculator
    li.br-list-item
      a(href='/calculators/mortgages/new-house-calculator.aspx') How much house can I afford?
    li.br-list-item
      a(href='/calculators/savings/simple-savings-calculator.aspx') Simple Savings Calculator