.br-module
  .br-module-title-bar Most read
  ol.br-list
    li.br-list-item
      a(href='/lite/real-estate/celeb-house-for-sale-kourtney-kardashian-1.aspx?ic_id=most_shared_default') Celeb house for sale: Kourtney Kardashian
    li.br-list-item
      a(href='/finance/auto/new-cars-people-most-regret-buying-1.aspx?ic_id=most_shared_default') 7 new cars that people most regret buying
    li.br-list-item
      a(href='/finance/auto/cars-you-should-buy-used-1.aspx?ic_id=most_shared_default') 10 cars you should buy used over new
    li.br-list-item
      a(href='/finance/real-estate/private-islands-for-sale-under-1-million-1.aspx?ic_id=most_shared_default') 8 fantasy island homes for sale
    li.br-list-item
      a(href='/finance/auto/dependable-suvs-1.aspx?ic_id=most_shared_default') 6 most dependable SUVs