.br-module
  .br-module-title News & Commentary
  ul.br-list.br-list-dotted
    li.br-list-item
      a(href='http://www.bankrate.com/financing/retirement/financial-management-when-your-brain-fails/?ic_id=News1') Financial management when your brain fails
    li.br-list-item
      a(href='http://www.bankrate.com/financing/taxes/daily-fantasy-sports-wins-losses-taxes/?ic_id=News2') Daily fantasy sports’ wins, losses, taxes
    li.br-list-item
      a(href='http://www.bankrate.com/financing/senior-living/you-need-to-form-a-retirement-game-plan/?ic_id=News3') You need to form a retirement game plan
    li.br-list-item
      a(href='http://www.bankrate.com/financing/personal-loans/small-businesses-lean-on-alternative-lenders/?ic_id=News4') Small businesses lean on alternative lenders
    li.br-list-item
      a(href='http://www.bankrate.com/financing/cars/record-highs-for-new-car-loan-amounts/?ic_id=News5') Record highs for new car loan amounts