.br-module.br-topics
  .br-module-title Popular Tools & Topics 
  ul.br-list.br-list-float
    li.br-list-item
      a(href='http://www.bankrate.com/cd.aspx') CD Rates
    li.br-list-item
      a(href='/finance/retirement/5-little-known-facts-about-social-security-1.aspx') Social Security
    li.br-list-item
      a(href='/finance/topic/free-credit-report.aspx') Free Credit Report
    li.br-list-item
      a(href='/finance/credit-cards/how-to-get-a-free-credit-score-1.aspx') Free Credit Score
  ul.br-list.br-list-float
    li.br-list-item
      a(href='/calculators/savings/moving-cost-of-living-calculator.aspx') Cost of Living Calculator
    li.br-list-item
      a(href='/calculators/retirement/roth-ira-plan-calculator.aspx') Roth IRA
    li.br-list-item
      a(href='/finance/retirement/basics-of-reverse-mortgages-1.aspx') Reverse Mortgage
    li.br-list-item
      a(href='/finance/retirement/retirement-planning.aspx') Retirement Planning
  ul.br-list.br-list-float
    li.br-list-item
      a(href='http://www.bankrate.com/mortgage.aspx') Mortgage Rates
    li.br-list-item
      a(href='http://www.bankrate.com/calculators/investing/currencycalc.aspx') Currency Converter
    li.br-list-item
      a(href='/debit-cards.aspx') Debit Cards
    li.br-list-item
      a(href='/finance/topic/401k.aspx') 401(k)