footer {
	background: $primary-color;
	color: #fff;
	padding: $comfortable-spacer;
	font-size: 0.9em;
	text-align: center;

	a {
		color: #fff;
		padding: 0 0.8em;
		border-left: 1px solid #fff;

		&:first-child {
			border-left: 0;
		}
		&:hover {
			color: #fff;
		}

	}

	small {
		font-size: 1em;
		padding: 1em 0;
		display: block;
		clear: both;
	}
}

.disclosure {
	border-top: 1px solid #fff;
	margin-top: 1em;
	padding-top: 1em;
}

.truste {
	float:right;
}