// Header & footer
header {
	background: $primary-color;
	color: #fff;

}

header {
	border-bottom: 5px $secondary-color solid;
}

.top-nav {
	min-height: 76px;
	padding-top: 25px;
	padding-bottom: $comfortable-spacer;
}


.top-nav-links {
	padding-top: 1.4em !important;
	&:hover,
	&:visited,
	&:active,
	& {
		color: #fff;
		background: transparent !important;
	}

	.glyphicon {
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
}

.main-nav-nav {
	background: $tertiary-color;
	margin-bottom: $comfortable-spacer;
	border:1px solid #646265;

	a {
		color: #fff;
		 
			&:hover,
			&:visited,
			&:active,
			&.active,
			&.main-nav-nav-links,
			& {
				border-radius: 0 !important;
				padding: 5px 15px !important;
			}

		&.active,
		&:hover {
			background: $active-color !important;
		}
		
	}

	.active .main-nav-nav-links,
	.open .main-nav-nav-links {
		background: $active-color !important;
	}

	.dropdown-menu {
		background-color: $active-color;
		border-radius: 0;
		border: 0;
		box-shadow: 0;
		margin-top: 0;

		a {
			color: #fff;

			&:hover {
				color: #000;				
			}
		}
	}
}