
// Connect with us
.br-connect {
	display:flex;
	align-items: center;
	font-weight: 700;

	.st-icon-rss:before {
		color:rgba(0,0,0,0.196);
	}
}

.br-module {
	margin-bottom: $comfortable-spacer;
}

.br-module-title {
	color: #666;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 $comfortable-spacer;
    padding: 0;
}

.br-module-title-bar {
	background: #444;
    color: white;
    min-height: 23px;
    text-transform: uppercase;
    padding: 4px 9px;
    font-weight: bold;
    line-height: 23px;
    border-radius: 2px;
    margin-bottom: 10px;
    border-bottom: 0;
}

.br-list-float  {
	float:left;
	margin-right: 13.3%
}

.br-bottom-divider {
	border-bottom:1px solid #e0e0e0;
	margin-bottom: $comfortable-spacer;
}

.br-top-divider {
	border-top:1px solid #e0e0e0;
}

.br-left-divider {
	border-left:1px solid #e0e0e0;
}

.br-right-divider {
	border-right:1px solid #e0e0e0;
}

.br-oa-table {
	 margin-bottom: 0;
}

.br-oa-search-title {
	font-size: 10px;
}

.br-story-title {
	display: block;
	color: #505050;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    text-decoration: none;
}

.br-top-story-tab {
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 5px;
	cursor: pointer;
	padding: 5px;
}

.br-top-story-tab.active {
	background-color:  #f6f9fb;
}