.ratetable-body {
	padding: $comfortable-spacer;
}

.ratetable-column {
  	flex-grow: 1; /* default 0 */
	padding-top: 10px;
	border-top: 1px solid #e9e9e9;
}

.header-row {
	border-right: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;	
}

.inner-row {
	border-left: 1px solid #e9e9e9;	
	border-right: 1px solid #e9e9e9;	

}

.ratetable-image {
	cursor: pointer;
}

.ratetable-button {
	margin-top: $comfortable-spacer;
}

.ratetable-header-item {
	padding-top: 5px;
	border-left:1px solid #e9e9e9;	
	min-height: 45px;
}

.ratetable-phonenubmer {
	font-weight: 700;
}

.ratetable-loading {
	text-align: center;
}

.ratetable-gearbox {
	padding: $comfortable-spacer;
	background-color: #F0F8FF;
	
}

.update-table {
	margin-top: 25px;
}